body {
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    font-family: "Poppins", sans-serif;
    color: white;
}

.container {
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 700;
}

.subtitle {
    /*margin-top: 4px;*/
    margin-bottom: 30px;
    font-size: 16px;
}

.row {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    width: 80%;
    margin: 30px auto;
}


.single {
    margin-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-number {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Hide default checkbox */
.checkbox-container input {
    display: none;
}

/* Custom square box */
.checkbox-container {
    width: 90px;
    height: 90px;
    border: 5px solid #00c7b6;
    border-radius: 12px;
    background: white;
    position: relative;
    cursor: pointer;
}

/* Tick mark */
.tick {
    content: "";
    position: absolute;
    top: 18px;
    left: 28px;
    width: 20px;
    height: 40px;
    border: solid #00c7b6;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.2s;
}

/* Show tick */
.checkbox-container input:checked + .tick {
    opacity: 1;
}

.points {
    margin-top: 10px;
    font-size: 18px;
}

/* Other input box */
.other-input {
    width: 90px;
    height: 90px;
    border: 5px solid #00c7b6;
    border-radius: 12px;
    background: white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    outline: none;
}


.record-btn {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 80%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #00c7b6;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.record-btn:disabled {
    background-color: #444;
    cursor: not-allowed;
    opacity: 0.6;
}

.record-btn:active {
    transform: scale(0.95);
}
