body {
    margin: 0;
    padding: 0;
    background: #24201d;
    font-family: "Poppins", sans-serif;
    color: white;
}

.container {
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 32px;
    margin-bottom: 0;
    font-weight: 700;
}

.subtitle {
    margin-top: 4px;
    margin-bottom: 60px;
    font-size: 16px;
}

/* Style the Record Button */
#recordBtn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
#recordBtn:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 25px;
}

.label {
    font-size: 20px;
    font-style: italic;
    width: 80px;
    text-align: right;
}

/* Hide default checkbox */
.checkbox-container input {
    display: none;
}

/* Custom square box */
.custom-box {
    width: 100px;
    height: 100px;
    border: 5px solid #00c7b6;
    border-radius: 12px;
    background: white;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tick mark */
.custom-box::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 32px;
    width: 30px;
    height: 60px;
    border: solid #00c7b6;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

/* Show tick when checked */
.checkbox-container input:checked + .custom-box::after {
    opacity: 1;
}

.points {
    font-size: 20px;
}
