/* Global */
body {
    margin: 0;
    padding: 0;
    background: #1e1a17; /* black/brown tone */
    font-family: Arial, sans-serif;
    color: white;
}



/* Curved Background */
.header {
    background: #b6ac7a; /* gold/olive color */
    height: 260px;
    width: 100%;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 0;
}

/* Content Wrapper */
.content {
    margin-top: -160px;
    padding: 20px;
}

/* Title */
h1 {
    font-size: 38px;
    margin-bottom: 5px;
    font-weight: 800;
}

.subtext {
    margin-top: 0;
    font-size: 14px;
    color: #d1cfcf;
}

/*.subtext a {
    color: white;
    text-decoration: underline;
}*/

/* Form Styles */
form {
    margin-top: 40px;
    width: 100%;
    max-width: 350px;   /* controls form width */
    margin-left: auto;
    margin-right: auto;
    text-align: center;  /* centers labels & inputs text */
}

    


label {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    color: #cdbd93;
    letter-spacing: 1px;
    text-align: center;
}

    


input, select {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background: #000;
    color: #c9c9c9;
}

/* Sign Up Button */
signupBtn {
    width: 100%;
    padding: 25px;
    background: #b6ac7a;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

signupBtn:hover {
    background: #a39a6b;
};
